{% load static %}
<!doctype html>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <title>お得な雀荘発見サービス</title>
     <link rel="stylesheet" type="text/css"
    href="{% static 'sample/css/style.css' %}" />
</head>

<body>
  <br>
  <h1>お得な雀荘発見サービス<h1>
  {{test}}
  
  <br>
  <table>
    <form action="{% url 'find' %}" method="post" name="choice">
    {% csrf_token %}
    {{form}}
    <tr><th></th><td><input type="submit" value="click"></tr></td>
    </form>
  </table>
  <hr>
  <table>
     <tr>
       <th>ID</th>
       <th>店名</th>
       <th>セット料金</th>
       <th>フリー料金</th>
       <th>最寄り駅までの距離</th>     
       <th>イベント回数</th>
       <th>卓数</th>
       <th>最寄り駅</th>
       <th>所在地</th>
       <th>乗降人数</th>
       <th>人口</th>
     </tr>
     {% for item in MjData %}
       <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.setFee}}</td>
        <td>{{item.FreeFee}}</td>
        <td>{{item.destanceToStation}}</td>     
        <td>{{item.eventTimes}}</td>
        <td>{{item.mjTables}}</td>
        <td>{{item.station.stationName}}</td>
        <td>{{item.city.cityName}}</td>
        <td>{{item.station.usertOfStation}}</td>
        <td>{{item.city.population}}</td>
     {% endfor %}
      <tr>
   </table>
   <div class="pagination">
  {% if MjData.has_previous %}
       <a href="{% url 'index' %}">&laquo;first</a>
       <a href="{% url 'index' %}{{data.previous_page_number}}">&laquo;prev</a>  
  {% endif %}
  <span class="current">
  [{{MjData.number}}/{{MjData.paginator.num_pages}}]
  </span>
  {% if MjData.has_next %}
       <a href="{% url 'index' %}{{data.next_page_number }}">next&raquo;</a>  
       <a href="{% url 'index' %}{{data.paginator.num_pages}}">last&raquo;</a>
  {% endif %}   
   </div>
</body>
</html>
